<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <title>Goshawk lodddd</title>

</head>

<body class="font-barlow">

    <!-- 
        - Fő oldal: 
            - Premade loadoutok
            - Slotra allitani az itemeket
        - Creator oldal:
            - alap slotok: 3 + slot vasarlasi lehetoseg(dan1 gypsy)
            - Shopbol allitani loadoutot osszeallitani(Pre set itemek a configban)
            - loadout torles
    -->

    <div id="app">
        <div v-show="importLoad" class="h-screen flex items-center justify-center  select-none">
            <div class="w-[20vw] h-[25vh] rounded-lg bg-[#222222] ">
                <div class="float-right  mt-3 mr-3">
                    <button @click="closeImport()"> <i
                            class="fa-solid fa-x  cursor-pointer transition-all duration-200 hover:text-red-700 hover:scale-105"></i></button>
                </div>
                <h1 class="text-center mt-5 text-2xl">Loadout be importálása</h1>
                <div class="flex items-center justify-center mt-10">
                    <input type="text" placeholder="Code megadása" v-model="coadInp"
                        class="input input-bordered w-full max-w-xs bg-[#1a1a1a]" />
                </div>
                <div class="flex items-center justify-center mt-3">
                    <button @click="importLoadout(coadInp)"
                        class="btn btn-ghost text-white btn-wide bg-[#22ba13] hover:bg-[#1c4e18] hover:scale-105 transition-all">Importálás</button>

                </div>
            </div>

        </div>
        <div v-show="showUI" class="h-screen flex items-center justify-center  select-none">
            <div class="w-[60vw] h-[65vh] rounded-lg  bg-gradient-to-r from-[#222222] to-[#2b2b2b]  ">


                <div class="navbar bg-gradient-to-r  from-[#303030a8] to-[#181818a8] rounded-tl-lg rounded-tr-lg">
                    <div class="navbar-start">
                        <div class="dropdown " @click="isDropdownOpen = !isDropdownOpen">
                            <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                                    stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M4 6h16M4 12h16M4 18h7" />
                                </svg>
                            </div>
                            <ul v-show="!isDropdownOpen" tabindex="0"
                                class="menu menu-sm dropdown-content bg-[#303030] rounded-box z-50 mt-3 w-32 p-2 shadow ">
                                <li><a @click="changePage('mainmenu')">Fő menü</a></li>
                                <li><a @click="changePage('creatormenu')">Creator menü</a></li>
                                <li><a @click="changePage('savedloads')">Mentett loadoutok</a></li>

                            </ul>
                        </div>
                    </div>
                    <div class="navbar-center">
                        <a v-if="selectedPage === 'mainmenu'" class="btn btn-ghost text-2xl">Moonrise Military Loadout
                            selecter</a>
                        <a v-else-if="selectedPage === 'savedloads'" class="btn btn-ghost text-2xl">Moonrise Military
                            Saved loadouts</a>
                        <a v-else="selectedPage === 'creatormenu'" class="btn btn-ghost text-2xl">Moonrise Military
                            Loadout Creator</a>

                    </div>
                    <div class="navbar-end">
                        <button @click="importCodeOpen()" class="btn btn-ghost">
                            <a class="text-lg">Loadout importálása</a>
                        </button>

                    </div>
                </div>

                <div v-show="selectedPage === 'mainmenu'"
                    class="w-full h-full flex px-5 py-5 justify-center items-center">
                    <div class="prev w-[3.8rem] h-[3.8rem] rounded-md border self-center flex cursor-pointer hover:scale-105 transition-all"
                        onclick="swiper.slidePrev()">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-6 h-6 self-center mx-auto rotate-180">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M11.25 4.5l7.5 7.5-7.5 7.5m-6-15l7.5 7.5-7.5 7.5" />
                        </svg>
                    </div>
                    <main class="w-[85%] h-full flex justify-center items-center swiper pb-[4.2rem] pl-2 pr-2">
                        <section class="w-full h-full flex swiper-wrapper" id="slider">
                            <div v-for="(list, index) in premadeLoads" :key="list.loadLabel"
                                class="swiper-slide w-[20vw] h-[50vh] rounded-md bg-[#464646] self-center p-5 flex flex-col">
                                <header class="w-full h-1/6 mb-5">
                                    <p class="text-2xl font-semibold text-center"><span class="text-[#22ba13]"> #{{index
                                            + 1}}</span> - {{list?.label}}</p>
                                    <hr class="mt-5 bg-[#22ba13] h-[2px] border-none">
                                </header>
                                <section class="flex-1 overflow-y-auto">
                                    <ul v-for="(items, i) in list.items" :key="items.name"
                                        class="text-xl flex flex-col gap-3">
                                        <span class="flex gap-3 mb-3 ml-2 font-medium ">
                                            <li>{{items?.count}}x - {{items?.label}}</li>
                                        </span>
                                    </ul>
                                </section>
                                <footer class="w-full h-1/6 flex justify-center items-center gap-5">
                                    <button @click="buyLoad(index + 1)"
                                        class="sm:btn-xs md:btn-sm lg:btn-md text-2xl font-semibold border-none btn-wide hover:bg-[#1c4e18] bg-[#21ba13b2] text-white rounded-md p-3 cursor-pointer hover:scale-105 transition-all duration-500 flex justify-center items-center">
                                        <span>VÁSÁRLÁS - ${{list.price}}</span>
                                    </button>

                                </footer>
                            </div>
                        </section>
                        <div class="swiper-pagination z-10"></div>
                    </main>

                    <div class="next w-[3.8rem] h-[3.8rem] rounded-md border self-center flex cursor-pointer hover:scale-105 transition-all"
                        onclick="swiper.slideNext()">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-6 h-6 self-center mx-auto">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M11.25 4.5l7.5 7.5-7.5 7.5m-6-15l7.5 7.5-7.5 7.5" />
                        </svg>
                    </div>
                </div>
                <div v-show="selectedPage === 'creatormenu'">
                    <!-- loadout creator for moonrise(fan1) -->
                    <p class="text-xl text-center mt-3">Hozz létre loadoutokat magadnak, vagy osszd meg barátaiddal!</p>

                    <div class="float-right mt-5 mr-10 w-96 h-[28rem] bg-[#1a1a1a] rounded-lg shadow-lg text-white p-5">
                        <h1 class="text-center text-2xl font-bold mb-4">Loadout összetétel</h1>
                        <div class="flex justify-center items-center mb-4">
                            <hr class="bg-[#22ba13] h-[2px] border-none w-64">
                        </div>
                        <div class="text-xl mb-4">
                            <p><b>Fegyver</b>: {{creatorData?.selectedWep}} <button
                                    v-show="creatorData?.selectedWep != '' "
                                    @click="deleteFrom('weapon', 0, creatorData.selectedWep)"><i
                                        class="fa-solid fa-trash ml-5 text-sm hover:cursor-pointer hover:text-red-600 transition-all duration-300"></i></button>
                            </p>
                        </div>
                        <div class="text-xl mb-4">
                            <p><b>Itemek</b>:</p>
                            <ul class="list-disc list-inside ml-5">
                                <li v-for="(item, index) in creatorData.selectedItems" :key="index" class="mb-1">
                                    {{item?.count}}x - {{item?.name}} <button
                                        @click="deleteFrom('item', index, item.name, item.count)"><i
                                            class="fa-solid fa-trash ml-5 text-sm hover:cursor-pointer hover:text-red-600 transition-all duration-300"></i></button>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="mt-4 ml-10">
                        <label v-if="creatorData.currentWep < creatorData.maxWep"
                            class="  block pt-2 pb-2 text-xl">Fegyver hozzáadása</label>
                        <label v-else="creatorData.currentWep >= creatorData.maxWep"
                            class=" block pt-2 pb-2 text-xl">Már van fegyver hozzáadva!</label>

                        <div class="flex items-center gap-3">
                            <select v-model="select" v-show="creatorData.currentWep < creatorData.maxWep" id="option"
                                class="w-[20vh] p-2 border border-[#22ba13] rounded bg-[#1a1a1a]  ">
                                <option value="" disabled selected>Válassz fegyvert</option>
                                <option v-for="(weapon, index) in creatorData.weapons" :key="index"
                                    :value="weapon?.name"> {{index + 1}}. &thinsp;
                                    {{weapon?.name}} </option>
                            </select>
                            <button v-show="creatorData.currentWep < creatorData.maxWep" class="btn btn-success"
                                @click="insert('weapon', select)">Hozzáadás</button>
                        </div>
                    </div>

                    <div class="mt-4 ml-10">
                        <label v-if="creatorData.currentItems < creatorData.maxItems" class="    pt-2 pb-2 text-xl">Adj
                            hozzá itemeket (max.: 8)</label>
                        <label v-else="creatorData.currentItems >= creatorData.maxItems"
                            class="    pt-2 pb-2 text-xl">Elérted az item limitet!</label>

                        <div class="flex items-center gap-3">
                            <select v-model="select" v-show="creatorData.currentItems < creatorData.maxItems"
                                id="option" class="w-[20vh] p-2 border border-[#22ba13] rounded bg-[#1a1a1a]  ">
                                <option value="" disabled selected>Válassz ki itemet</option>
                                <option v-for="(items, index) in creatorData.items" :key="index" :value="items.name">
                                    {{index + 1}}. &thinsp;
                                    {{items?.name}} </option>
                            </select>
                            <label class=" ">Mennyiség</label>
                            <input v-model="count" v-show="creatorData.currentItems < creatorData.maxItems"
                                class="w-24 h-[3rem] rounded   bg-[#1a1a1a] border border-[#22ba13] p-2" type="number"
                                id="quantity" name="quantity" min="1" max="500">
                            <button v-show="creatorData.currentItems < creatorData.maxItems" class="btn btn-success"
                                @click="insert('item',select, count)">Hozzáadás</button>
                        </div>
                        <div class="mt-5">
                            <label class=" text-xl">Loadout neve</label>
                            <div class="mt-2">
                                <input minlength="8" maxlength="20" type="text" v-model="creatorData.loadName"
                                    placeholder="loadout neve"
                                    class="input input-sm input-bordered rounded h-[3rem] bg-[#1a1a1a] border-[#22ba13] max-w-xs" />
                            </div>

                        </div>
                    </div>
                    <div class="mt-8  ml-10">
                        <div class="  mb-5  text-2xl">
                            <h1>Jelenlegi összeg: {{creatorData.currentPrice}}</h1>
                        </div>
                        <div class="   text-2xl">
                            <h1>Jelenlegi Item mennyiség: {{creatorData.currentItems}}</h1>
                        </div>
                    </div>
                    <div class="mt-3 ml-10">
                        <button
                            v-if="creatorData.currentWep > 0 && creatorData.currentItems > 0 && creatorData.loadName.length >= 4 "
                            @click="createCustom()" class="btn btn-success text-w">Loadout létrehozása</button>
                        <button
                            v-else="creatorData.currentWep < 1 && creatorData.currentItems < 1 && creatorData.loadName < 4> "
                            disabled class="btn btn-success text-w">Loadout létrehozása</button>

                    </div>
                </div>
                <div v-show="selectedPage === 'savedloads'"  class="w-full h-full flex px-5 py-5 justify-center items-center">
  
                    <div class="prev-saved w-[3.8rem] h-[3.8rem] rounded-md border self-center flex cursor-pointer hover:scale-105 transition-all"
                        onclick="savedSwiper.slidePrev()">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-6 h-6 self-center mx-auto rotate-180">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M11.25 4.5l7.5 7.5-7.5 7.5m-6-15l7.5 7.5-7.5 7.5" />
                        </svg>
                    </div>
                    <main class="w-[85%] h-full flex justify-center items-center swiper-saved pb-[4.2rem] pl-2 pr-2">
                        <section class="w-full h-full flex swiper-wrapper" id="saved-slider">
                            <div v-for="(loadout, index) in savedLoads" :key="loadout.loadLabel"
    
                                class="swiper-slide w-[20vw] h-[50vh] rounded-md bg-[#464646] self-center p-5 flex flex-col">
                            
                                <header class="w-full h-1/6 mb-5">
                                    <p class="text-2xl font-semibold text-center"><span class="text-[#22ba13]"> #{{index
                                            + 1}}</span> -
                                        {{loadout?.name}}</p>
                                        <p class="text-lg font-semibold text-center">Import code: {{loadout?.code}}</p>
                                    <hr class="mt-5 bg-[#22ba13] h-[2px] border-none">
                                </header>
                                <section class="flex-1 overflow-y-auto">
                                    <ul v-for="(items, i) in loadout.items" :key="items.name"
                                        class="text-xl flex flex-col gap-3">
                                        <li>Fegyver: {{loadout.wep}}</li>

                                        <span class="flex gap-3 mb-3 ml-2 font-medium ">
                                            <li>{{items?.count}}x - {{items?.name}}</li>
                                        </span>
                                    </ul>
                                </section>
                                <footer class="w-full h-1/6 flex justify-center items-center gap-5">
                                    <button @click="useLoadout('custom', loadout.code)"
                                        class="sm:btn-xs md:btn-sm lg:btn-md text-2xl font-semibold border-none btn-wide hover:bg-[#1c4e18] bg-[#21ba13b2] text-white rounded-md p-3 cursor-pointer hover:scale-105 transition-all duration-500 flex justify-center items-center">
                                        <span>USE LOADOUT - ${{loadout.price}}</span>
                                    </button>
                                </footer>
                            </div>
                        </section>
                        <div class="swiper-pagination-saved z-10"></div>
                    </main>

                    <div class="next-saved w-[3.8rem] h-[3.8rem] rounded-md border self-center flex cursor-pointer hover:scale-105 transition-all"
                        onclick="savedSwiper.slideNext()">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-6 h-6 self-center mx-auto">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M11.25 4.5l7.5 7.5-7.5 7.5m-6-15l7.5 7.5-7.5 7.5" />
                        </svg>
                    </div>

                </div>
            </div>



            <script type="text/javascript"
                src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.31/vue.global.prod.min.js"></script>

            <script src="script.js"></script>

        </div>




        <script>
            tailwind.config = {
                theme: {
                    extend: {
                        fontFamily: {
                            barlow: ["Barlow Condensed"],
                        },
                    },
                },
            };
        </script>
</body>

<script>
    setTimeout(() => {
        
    }, 100);
    const swiper = new Swiper('.swiper', {
        direction: 'horizontal',
        loop: false,
        slidesPerView: 2,
        spaceBetween: 20,

        breakpoints: {
            640: {
                slidesPerView: 1,
                spaceBetween: 20,
            },
            768: {
                slidesPerView: 2,
                spaceBetween: 30,
            },
            1024: {
                slidesPerView: 3,
                spaceBetween: 20,
            },
        },

        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },

        navigation: {
            nextEl: '.next',
            prevEl: '.prev',
        },
    });
    const savedSwiper = new Swiper('.swiper-saved', {
    direction: 'horizontal',
    loop: false,
    slidesPerView: 2,
    spaceBetween: 20,

    breakpoints: {
        640: {
            slidesPerView: 1,
            spaceBetween: 20,
        },
        768: {
            slidesPerView: 2,
            spaceBetween: 30,
        },
        1024: {
            slidesPerView: 3,
            spaceBetween: 20,
        },
    },

    pagination: {
        el: '.swiper-pagination-saved',
        clickable: true,
    },

    navigation: {
        nextEl: '.next-saved',
        prevEl: '.prev-saved',
    },
});
</script>
<script>
       
</script>

<style>
    :root {
        background-color: transparent;
        color-scheme: normal;
    }
</style>



</html>